.QuizTextBox {
  @media screen and (max-width: $breakpoint-md) {
    padding: 40px;
  }
}

.QuizTitle {
  font-size: 56px;

  @media screen and (max-width: $breakpoint-md) {
    padding: 0;
    font-size: 32px;
  }
}

.QuizSubtitle {
  font-size: 32px;
  margin-bottom: 8px;
  opacity: 0.5;

  @media screen and (max-width: $breakpoint-md) {
    padding: 0;
    font-size: 18px;
  }
}

.QuizQuestion {
  font-size: 32px;

  @media screen and (max-width: $breakpoint-md) {
    font-size: 18px;
    display: flex;
    flex: 40%;
    align-items: flex-end;
    justify-content: center;
  }
}
