@import '../variables.scss';

.QuizButton {
    width: 300px;
    font-size: 20px;
    font-weight: 600;
    padding: 20px;
    background-color: $Orange-100;
    color: $White;
    cursor: pointer;

    &:hover {
        background-color: $Orange-80;
    }

    @media screen and (max-width: 767px) {
        width: 100%;
        font-size: 14px;
    }
}