@import '../variables.scss';

.QuizIcon {
    width: 100%;
    padding: 0 85px;
    max-height: 400px;
    // > svg {
    //     width: 450px;
    // }

    @media screen and (max-width: 767px) {
        padding: 0 45px;
        display: flex;
        align-items: end;
    }
}