.QuizContent {
    .QuizButtonWrapper {
        margin-top: 30px;
        padding: 0 15px;
    }
}

.QuizOptionsMultiselect {

    @media screen and (max-width: 767px) {
        flex: 60%;

        .QuizOptions {
            flex: unset;
            margin-bottom: 0;
        }
    }
}