@import "./variables";

.container {
  align-items: center;
}

.logo {
  height: 40vmin;
  pointer-events: none;
}

.header {
  grid-area: header;
}

.main {
  position: relative;
  grid-area: main;
  width: 100vw;
  height: 100vh;
  background-color: $White;
  z-index: $zIndexBase;

  @media screen and (max-width: $breakpoint-md) {
    // substracting 60px to compensate iPhone's Safari tab height
    height: calc(100vh - 60px);
  }

  @media screen and (max-width: $breakpoint-md) and (orientation: landscape) {
    height: auto;
  }
}

.header,
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer {
  grid-area: footer;
  justify-self: center;
}

.nav {
  grid-area: nav;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px;
  font-size: calc(10px + 2vmin);
}

.link {
  color: #704cb6;
}

.link:hover {
  text-decoration: underline;
}

.link.active {
  text-decoration: underline;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-float infinite 3s ease-in-out;
  }
}

@keyframes logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
