@import './variables.scss';

@import './shared/QuizTextBox.scss';

.Quiz {
    width: 100%;
}

.QuizWrapper {
    width: 100%;
    background-color: $Black-5;
    min-height: 100vh;
    display: flex;
    
    @media screen and (max-width: 1023px) {
        display: block;
    }
}