@import "@/app/styles/_variables";

.QuizContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 120px 80px;
  position: relative;
  z-index: map-get($zIndex, quizContent);
  width: 75%;

  @media screen and (max-width: $breakpoint-lg) {
    width: 100%;
    min-height: 100vh;
    padding: 10% 5%;
    text-align: center;
  }

  @media screen and (max-width: $breakpoint-md) {
    padding: 25px 0;
  }
}
