.QuizContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 120px 80px;
    position: relative;
    z-index: 10;
    width: 75%;

    @media screen and (max-width: 1024px) {
        width: 100%;
        min-height: 100vh;
        padding: 10% 5%;
        text-align: center;
    }

    @media screen and (max-width: 767px) {
        padding: 25px 0;
    }
}