@import '../../variables.scss';

$Option-height: 54px;

.Quiz {
    
    &Options {
        display: flex;
        flex-direction: initial;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: space-between;
        width: 100%;
    }

    &Option {
        width: calc(50% - 30px);
        margin-top: 30px;

        &Prefix {
            color: $Orange-100;
            margin-right: 5px;
            position: relative;
            z-index: 2;
        }
    }
}