@import '../../variables.scss';

$Option-height: 54px;

.Quiz {
    
    &Options {
        padding: 35px;
        display: flex;
        flex-direction: initial;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: space-between;
        width: 100%;
    }

    &Option {
        width: calc(50% - 34px);
        margin-top: 30px;

        &Prefix {
            color: $Orange-100;
            margin-right: 5px;
            position: relative;
            z-index: 2;
        }

        .QuizInfoOption {
            background-color: #fff;
            width: 100%;
            padding: 24px 15px;
            border-radius: 15px;
            border: 1px solid $Black-40;
            border-color: $Black-40 transparent $Black-40 transparent;
            font-weight: 400;
            position: relative;
        }
    }
}