@import '../shared/QuizButton.scss';

.QuizStaticView {
    padding: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

    > div {
        width: 50%;
    }

    & .QuizStaticViewAction {
        padding: 0 32px;
        .QuizButton-Wrapper {
            margin-top: 65px;
        }
    }

    @media screen and (max-width: 767px) {
        padding: 50px 15px;
        flex-direction: column;
        text-align: center;

        > div {
            width: 100%;
        } 
        & .QuizStaticViewAction {
            padding: 0;
        }
        
        .QuizTitle {
            margin-top: 40px;
            font-size: 32px;
        }
    }
}