@use "sass:map";

@import "@/app/styles/variables";

@import "./components/shared/QuizTextBox/QuizTextBox";

.Quiz {
  width: 100vw;
  height: 100vh;

  @media screen and (max-width: $breakpoint-md) and (orientation: landscape) {
    height: auto;
  }

  // Intro Screen Triangle background
  &.QuizStartScreenWrapper {
    &:after {
      content: "";
      position: absolute;
      display: block;
      top: 0px;
      bottom: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 100vh 100vw;
      border-color: transparent transparent $Orange-10 transparent;
      z-index: map.get($zIndex, negative);

      @media screen and (max-width: $breakpoint-md) and (orientation: landscape) {
        height: auto;
      }
    }
  }
  &.QuizFinalScreenWrapper {
    background-color: $Black-5;
  }
}

.QuizWrapper {
  width: 100%;
  background-color: $Black-5;
  min-height: 100vh;
  display: flex;

  @media screen and (max-width: $breakpoint-lg) {
    display: block;
  }
}
