@use "sass:map";

@import "@/app/styles/variables";

.IconLoading {
  position: absolute;
  left: 50%;
  top: -60px;
  transform: translateX(-50%);
  z-index: map.get($zIndex, loading);

  @media screen and (max-width: $breakpoint-md) {
    top: 0;
  }
}
