@import "@/app/styles/variables";

.IconLogo {
  width: 100%;
  padding: 0 85px;
  max-height: 400px;

  > svg {
    min-width: 200px;
  }

  @media screen and (max-width: $breakpoint-md) {
    padding: 0 45px;
    display: flex;
    align-items: flex-end;
  }
}
