@import '@/app/styles/_variables';

.QuizOptionTriangle {
    &Wrapper {
        position: relative;
        top: -21px;
        bottom: 0;
        left: -37px;

        > div {
            display: inline-block;
        }

        &.reversed {
            left: initial;
            right: 0;
        }

        @media screen and (max-width: $breakpoint-lg) {
            left: -35px;

            &.reversed {
                right: 3px;
            }
        }
        
    }
}

.QuizInfoOption .QuizOptionTriangle.reverse {
    transform: rotate(180deg);
    left: unset;
    right: -13px;
}

.QuizOptionTriangle {
    width: 0px;
    height: 0px;
    position: absolute;
    border-style: solid;
    top: 2px;
    left: 0;
    border-style: solid;
    border-width: 30px 25px 30px 0;
    border-color: transparent $White transparent transparent;
    transform: rotate(0deg);

    &Border {
        position: absolute;
        display: block;
        height: 1px;
        width: 42px;
        background-color: #D0D0D8;
        transform: rotate(-51deg);
        left: -28px;

        &Top {
            height: 1px;
            top: 16px;
            left: -8px;
        }

        &Bottom {
            transform: rotate(51deg);
            top: 48px;
            left: -8px;
        }

    }
}

.QuizInfoOption .QuizOptionTriangleWrapper.reversed {
    & .QuizOptionTriangle {
        transform: rotate(180deg);
        left: unset;
        right: -37px;
        top: -21px;

        @media screen and (max-width: $breakpoint-lg) {
            right: -34px;
            top: -9px;

            &Border {
                
                &Top {
                    top: -2px;
                    right: -41px;
                }

                &Bottom {
                    bottom: -26px;
    right: -37px;
                }
            }
        }

        &Border {
            &Top {
                bottom: -26px;
                right: -45px;
                left: unset;
                top: unset;
            }
    
            &Bottom {
                top: -7px;
                right: -45px;
                left: unset;
                bottom: unset;
            }
        }
    }
}