@import '../variables.scss';

.QuizScoreWrapper {
    display: flex;
    flex-direction: column;
    width: 25%;
    background-color: #fff;
}

.QuizScore {
    width: 100%;

    &Item {
        width: 100%;
        color: $Black-100;
        font-size: 20px;
        font-weight: 400;

        &Active {
            color: $Orange-100;
        }

        &Inactive {
            color: $Black-40;
        }
    }
}